:root{
	--main-color: #06799F;
	
	--ilmoitus-color: #61ACC5;
	--light-color: #2A86A5;
	--dark-color:  #045874;
	--white-color: #FFFFFF;
	--black-color: #000;
}

body, .content-wrapper{
	height: 100%;
}

.bannerCon{
	width:100%;
	height: 200px;
	background-color: var(--main-color);
}

.menuConWide{
	display: inline-block;
	width: 200px;
	height: 100%;
	float: left;
	background-color: var(--main-color);
}
.menuConWide .verticalList{
	list-style: none;
	padding-left: 0;
}
.menuConWide .verticalList li{
	padding: 10px 10px;	
}
.menuConWide .verticalList li:hover, .menuConWide .verticalList li.selected{
	background-color: var(--light-color);
}

.contentCon{
	display: inline-block;
	width: calc(100% - 200px);
	background-color: var(--white-color);
	float: right;
	height: auto;
	padding: 20px;
	box-sizing: border-box;
	
	
}

/*
	Jukan juttuja -->
*/
.horizontalListCon {
	width:100%;
	height:auto;
	background-color:cyan;
}

.horizontalList {
	list-style:none;
	/*padding: 20px;*/
	width: auto;
}

.horizontalList ul {
	
}
.horizontalList li {
	float:left;
	width: 33.3%;
	min-width: 30px;
	overflow:hidden;
}

/*
	<--
*/

.contentCon > div{
	text-align: center;
	display: inline-block;
	vertical-align:top;
	padding: 0 10px;
	box-sizing: border-box;
}

.ilmoitus{
	text-align: left;
	background-color: var(--ilmoitus-color);
	width: 100%;
	max-width: 500px;
	min-height: 50px;
	height: auto;
	line-height: 50px;
	margin: 10px auto;
	overflow: hidden;
}
.ilmoitus:hover{
	background-color: var(--main-color);
}
.ilmoitus span{
	margin: 0 10px;
	display: inline-block;
	vertical-align: center;
	line-height: normal;
}

.ilmoitus span.date{
	float: right;
}
.etuTaloIlmCon{
	width: 40%;
}
.etuOmaIlmCon{
	width: 40%;
}
.etuOmaVarCon{
	width: 18%;
}


@media only screen and (max-width: 1200px) {
    .etuTaloIlmCon{
	width: 100%;
}
.etuOmaIlmCon{
	width: 49%;
}
.etuOmaVarCon{
	width: 49%;
}
}

@media only screen and (max-width: 650px) {
.menuConWide{
	display: none;
}
	
.contentCon{
	width: 100%;
	padding: 10px 0;
}
	
.etuTaloIlmCon{
	width: 100%;
}
.etuOmaIlmCon{
	width: 100%;
}
.etuOmaVarCon{
	width: 100%;
}
.ilmoitus span{
	margin: 0 0;
	display: block;
}

}

#page{
	text-align: center;
	vertical-align: middle;
}

#varaukset {
	display:block;
	overflow:auto;
    width:50%;
}

#weeks {
	display:block;
	overflow:auto;
    width:50%;
	background-color: #350;
}

#weekCalendar{
	display:block;
	overflow:auto;
    width:50%;
}

#varaukset ul li:hover {
    background-color: #111;
}

#weeks p{
	float: center;
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#varaukset ul li{
	float: left;
	display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#varaukset ul{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#table1 {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#table1 tr:nth-child(even){background-color: #f2f2f2;}

#table1 tr:hover {background-color: #ddd;}

#table1 td, #table1 th {
    border: 1px solid #ddd;
    padding: 15px;
}


